config general
    option interface_ip     'fd70::1'
    option segpath_gw       '2001::1,fd70::1,2003::2'
    option segpath_client   '2003::2,fd70::1,2001::1'
    option last_segment     '1'
    option valid_lft        '420'
    option preferred_lft    '120'
    option sleep            '40'
    option max_metric       '100'
    option max_prefixes     '4'
    option xdp_remover      '/usr/xdp/srv6_kern.o'
    option xdp_adder        '/usr/xdp/srv6_add_kern.o'
    option xdp_prog_remover 'srv6-remover'
    option xdp_prog_adder   'srv6-adder'
    option client_interface 'br-lan'
    list mesh_interface     'br-mesh_one'